{% extends 'user/default.html' %}
{% block title %}
	Dashboard
{% endblock %}
{%block head%}
<style media="screen">
	.post-heading {
		font-size : 3rem;
		color : #000000;
	}
	.post-body{
		font-size : 1.5em;
	}
	.fa-arrow-alt-circle-up:hover {
		color :rgb(40,167,69);
	}
	.fa-arrow-alt-circle-down:hover{
		color : rgb(220,53,69);
	}
</style>
{%endblock%}
{% block navigation %}
{% endblock %}
{% block body %}
	<div class="container" style="padding-top:100px;">
		{% for post in user_posts %}
		<div class="row">
			<div class="col-lg-2 col-md-2 hidden-xs hidden-sm"></div>
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 border border-primary rounded">
				<div class="float-right mx-2 my-3 fa-lg">
					<i class="fa fa-expand "> </i>
				</div>
				<div class="float-left mx-2 my-3">
					<i class="far fa-arrow-alt-circle-up fa-lg"></i>
					<br>
					<i class="far fa-arrow-alt-circle-down fa-lg"></i>
					<br>
				</div>
				<div class="float-left mx-2">
					<a class="post-heading text-decoration-none" href="{% url 'showpost' post.id %}">{{post.post_heading}}</a>
					<h3 class="post-body">{{post.post_body}}</h3>
				</div>
				</div>
			<div class="col-lg-2 col-md-2 hidden-xs hidden-sm"></div>
		</div>
		{% endfor %}
{%endblock%}
