{% extends 'user/default.html' %}
{% block title %}
			Profile - {{first_name}} {{last_name}}
{% endblock %}
{% block head%}
<style>
	.content{
		margin-top : 5%;
	}
	.profile{
		padding:0;
	}
</style>
{%endblock%}
{% block body%}
<div class="container-fluid content">
			 <div class="profile col-lg-4 col-md-4"><img src="https://www.w3schools.com/w3css/img_avatar3.png" width="100%" height="50%"></div>
			 <div class="profile col-lg-8 col-md-8">
					 <h1>USERNAME </h1>
					 <h1>First Name</h1>
					 <h1>Last Name</h1>
					 <h1>Display Name</h1>
					 <h1>Email </h1></div>
	</div>
{%endblock%}
