{%load static%}
<!-- CHANGELOG :
				v 1.0.0 : +added login page
						: changed "USERNAME/ROLL NO" to "EXAM ROLL NO"
						: +added link to signup page
-->
<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" type="text/css" href="{% static 'signup/login.css' %}"/>
		<title>
			SXCRAN BLOG - LOGIN
		</title>
	</head>
	<body>
		<div class="body">
			<form action= "{% url 'login' %}" method="post">
				{%csrf_token%}
				<table>
					<tr>
						<th id="table_header">
							LOGIN
						</th>
					</tr>
					<tr>
						<td class="table_contents">
							EXAM ROLL NO
						</td>
						<td class="table_contents">
							<input type="text" name="USERNAME" maxlength="12" size="25" required class="table_input">
						</td>
					</tr>	
					<tr>
						<td class="table_contents">
							PASSWORD
						</td>
						<td  class="table_contents">
							<input type="password" name="PASSWORD" maxlength="16" size="25" required class="table_input">
						</td>
					<tr>
						<td class="table_buttons">
							<input type="submit" value="LOGIN"> 
						</td>
						<td class="table_buttons">
							<input type="reset" value="CLEAR">
						</td>
					</tr>
				</table>
			</form>
		</div>
		<div class="bottom">
			Don't have memory of this place?
		</div> 
		<div class="bottom">
			Click here to <a href="{% url 'signup' %}"> signup. </a>
		</div>
	</body>
</html>