{%load static%}
<!-- CHANGELOG :
				v 1.0.0 : +added signup page
						: changed "ROLL NO" to "EXAM ROLL NO"
						: +added form validation through javascript
						: +added link to login page
				v 1.1.0	: +added responsiveness
-->
<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" type="text/css" href="{% static 'signup/signup.css' %}"/>
		<script src="{% static 'signup/signup.js' %}"> </script> 
		<title>
			SXCRAN ORG - SIGNUP
		</title>
	</head>
	<body>
		<div class="body">
			<form name="signupform" action = "{% url 'signup' %}" onsubmit="return validate()" method="post">
				{%csrf_token%}
				<table>
					<tr>
						<div id="table_header">
							SIGNUP
						</div>
					</tr>
					<tr>
						<td class="table_contents">
							EXAM ROLL NO
						</td>
						<td class="table_contents">
							<input name ="USERNAME" type="text" maxlength="12" size="25" required class="table_input">
						</td>
					</tr>
					<tr>
						<td class="table_contents">
							FIRST NAME 
						</td>
						<td class="table_contents">
							<input name = "FIRST_NAME" type="text" maxlength="20" size="25" required class="table_input">
						</td>
					<tr>
						<td class="table_contents">
							LAST NAME 
						</td>
						<td class="table_contents">
							<input name = "LAST_NAME" type="text" maxlength="20" size="25" required class="table_input">
						</td>
					</tr>
					<tr>
						<td class="table_contents">
							EMAIL
						</td>
						<td class="table_contents">
							<input name = "EMAIL" type="email" size="25" required class="table_input"v>
						</td>
					<tr>
						<td class="table_contents">
							PASSWORD 
						</td>
						<td class="table_contents">
							<input name = "PASSWORD" type="password" size="25" maxlength="16" required class="table_input">
						</td>
					<tr>
						<td class="table_contents">
							PASSWORD AGAIN 
						</td>
						<td class="table_contents">
							<input name = "PASSWORD2" type="password" size="25" size="25" maxlength="16" required class="table_input">
						</td>
					</tr>
					<tr>
						<td>
							<input class="table_button" type="submit" value="SIGNUP">
						</td>
						<td>
							<input class="table_button" type="reset" value="CLEAR">
						</td>
					</tr>
					</table>
			</form>
		</div>
		<div class="bottom">
			Already have an account? <br>Click here to <a href="{% url 'login' %}"> login. </a>
		</div>
	</body>
</html>