body {
	background:#c9ddff;
}
.body {
	padding-left : 40%;
	padding-right : 40%;
	padding-top : 10%;
	padding-bottom : 5%;
}
table {
	border-style:solid;
	border-color: white;
	border-width:2px;
	border-radius : 8px;
}
#table_header{
	font-size : 200%;
	font-family : comic sans ms;
	color : #005eff;
	padding-left : 25%;
	padding-right : 20%;
	padding-bottom:5%;
	padding-top:5%;
}
.table_contents {
	font-family:comic sans ms;
	padding-bottom:2%;
	padding-top:2%;
}
.table_button {	
	padding-left:15%;
}
.table_input {
	border-style:none;
}
.bottom {
	padding-left:42%;
}