{%extends 'user/default.html'%}
{% block title %}
New Post
{% endblock %}
{% block head%}
<style>
	#newpostcontainer {
		padding-top: 100px;
	}
</style>
{% endblock%}
{% block body%}
		<div class="container" id="newpostcontainer">
			<div>
				<form action="{% url 'makepost' %}" method="post">
					{%csrf_token%}
					Title
					<br>
					<textarea class="form-control" type="text" name="POST_HEADING" maxlength="150" rows="1" cols="100" placeholder="Enter a title" required></textarea>
					<br>
					Body
					<br>
					<textarea class="form-control" type="text" name="POST_BODY" maxlength="1000" rows="10" cols="100" placeholder="Enter the body" required></textarea>
					<br>
					<br>
					<input class="btn btn-success" type="submit" value="post">
					<input class="btn btn-danger" type="reset" value="reset">
				</form>
			</div>
		</div>
{%endblock%}
