{% load static %}
<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" type="text/css" href="{%static 'posts/post.css'%}"/>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<title>
			{{post.post_heading}}
		</title>
	</head>
	<body class="w3-light-grey">
		<div class="w3-bar w3-blue w3-mobile w3-large w3-border">
			<a href="{% url 'dashboard' %}" class="w3-bar-item w3-button w3-blue w3-hover-white w3-mobile"> SXCRAN BLOG </a>
			<input type="text" class="w3-bar-item w3-border w3-input w3-mobile" placeholder="Search..">
			<a href="#" class="w3-bar-item w3-button w3-blue w3-hover-green w3-mobile"><i class="fa fa-search"></i></a>
			<a href="{% url 'dashboard' %}" class="w3-bar-item w3-button w3-blue w3-hover-white w3-mobile"> Dashboard </a>
			<a href="" class="w3-bar-item w3-button w3-blue w3-hover-white w3-mobile w3-dropdown-hover"> Notifications
			</a>
			<a href="{% url 'profile' %}" class="w3-bar-item w3-button w3-blue w3-hover-white w3-mobile"> Profile </a>
			<a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-blue w3-hover-white w3-mobile"> Logout </a>
		</div>
		<div class="w3-container w3-padding-large w3-border">
			<header class="w3-container w3-xxlarge w3-myfont">
				{{post.post_heading}}
			</header>
			<div class="w3-panel w3-small ">
				Author : {{post.post_op_name}}
				<br>
				Time : {{post.post_time}}
			</div>
			<article class="w3-container">
				{{post.post_body}}
			</article>
		</div>
		<div class="w3-container">
			<header class="w3-container w3-xlarge w3-padding-large">
				Comments
			</header>
			<div class="w3-container">
				<form class="w3-container" action="{% url 'showpost' post.id %}" method="post">
					{%csrf_token%}
					<input type="text" name="COMMENT_BODY" autocomplete="off"maxlength = "300" size="50px" placeholder="Write something nice">
					<input type="submit" class="w3-button w3-blue w3-round-large" value="comment">
					<input type="reset" class="w3-button w3-blue w3-round-large" value="clear">
				</form>
				{% if post_comments != None %}
					{% for comment in post_comments %}
						<div class="w3-container w3-border w3-padding-large">
							{{comment.comment_op.first_name}} : {{comment.comment_body }} 
							<br>
							<span style="font-size:10px">
								{{comment.comment_time}}
							</span>
						</div>
					{%endfor%}
				{% else %}
					<div class="w3-container">
						Be the first one to comment
					</div>
				{%endif%}
			</div>
		</div>
	</body>
</html>
