{%extends 'user/default.html'%}
{% block title %}
			{{post.post_heading}}
{% endblock %}
{% block head %}
<style>
	.my-10{
			margin-top: 30px;
	}
	.display-5{
		font-size : 1.5em;
	}
	</style>
{% endblock%}
{% block body%}
<div class="jumbotron jumbotron-fluid my-10 px-5">
        <div class="display-4">
          {{post.post_heading}}
				</div>
    <div class="info">
        Author : {{post.post_op.first_name}}
				<br>
				Time : {{post.post_time}}
    </div>
		<hr>
    <div class="display-5">
            <p>{{post.post_body}}</p>
    </div>
</div>
    <div class="container mx-4	">
        <h3>Comments</h3>
		</div>
		<div class="col-lg-4"></div>
		<div class="container mx-4 col-lg-8">
        <form name="COMMENT_FORM" action="{% url 'showpost' post.id%}" method="post">
					{% csrf_token %}
					<div class="input-group mb-3">
        	<input type="text" name="COMMENT_BODY" class="form-control" placeholder="Write something nice">
					<div class="input-group-append">
    				<button class="btn btn-outline-secondary" type="submit">comment</button>
  				</div>
					</div>
        </form>
		</div>
		<div class="col-lg-4"></div>
		{% for co in post_comments %}
		<div class="container">
        <div class="col-md-2 col-sm-2 col-xs-4"><img class="hidden-xs" alt="Profile Picture">
            <p>{{co.comment_op.first_name}}</p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-8">
            <p>{{co.comment_body}} </p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-8 col-xs-offset-4">
            <p>{{co.comment_time}} </p>
        </div>
    </div>
		{% endfor %}
{%endblock%}
