a {
	color : black;
	text-decoration : none;
}
a:hover {
	color : #68a2ff;
}
body {
		margin : 0;
		width : 100%;
		font-family : comic sans ms;
}
@media screen and (max-width:768px) {
	.index {
		display : block;
		text-align : center;
		border-width:2px;
		border-radius:8px;
		border-style:solid;
		font-size : 3em;
	}
	.signup {	
		display : block;
		padding-top : 10%;
		padding-left : 15%;
		padding-bottom : 5%;
		font-size : 2em;
		text-align:center;
	}
	footer {
		padding-top : 20%;
		float : bottom;
		display: block;
		bottom : 0;
		left : 35%;
		font-size : 1em;
		text-align : center;
	}
}
@media screen and (min-width : 769px) {
	.index {
		display : block;
		text-align : center;
		border-width:2px;
		border-radius:8px;
		border-style:solid;
		font-size : 5em;
	}
	.signup {	
		display : block;
		padding-top : 10%;
		padding-left : 15%;
		padding-bottom : 5%;
		text-align:center;
		font-size : 3em;
	}
	footer {
		float : bottom;
		display: block;
		bottom : 0;
		left : 35%;
		font-size : 1em;
		text-align : center;
	}
}