{%load static%}
<!-- CHANGELOG -
				v 1.0.0 : Added home page
-->				
<!doctype html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" type="text/css" href= "static/home/home.css"/>
		<title>
			SXCRAN BLOG - HOME
		</title>
	</head>
	<body>
		<div class="index">
			CREATE
		</div>
		<div class="index">
			CONTRIBUTE
		</div>
		<div class="index">
			CONNECT
		</div>
		<div class="signup">
			<a href="{% url 'signup' %}">
				SIGN UP
			</a>
		</div>
		<div class="signup">
			<a href="{% url 'login' %}">
				LOG IN
			</a>
		</div>
		<br>
		<div class="footer">
			THIS SITE IS BEST VIEWED ON DESKTOP COMPUTERS. MOBILE SCREENS WOULD BE SUPPORTED SOON. ALPHA PHASE SUBJECT TO CHANGE.
			<br>
			TO CONTRIBUTE VISIT <a href="https://github.com/chandan00761/sxcran-blog" target="blank"> GITHUB SXCRAN BLOG </a>
		</div>
	</body>
</html>