{%load static%}
<!doctype html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" type="text/css" href= "static/home/home.css"/>
		<title>
			SXCRAN BLOG - HOME
		</title>
	</head>
	<body>
		<div class="index">
			CREATE
		</div>
		<div class="index">
			CONTRIBUTE
		</div>
		<div class="index">
			CONNECT
		</div>
		<div class="signup">
			<a href="{% url 'signup' %}">
				SIGN UP
			</a>
		</div>
		<div class="signup">
			<a href="{% url 'login' %}">
				LOG IN
			</a>
		</div>
	</body>
</html>